.appointments-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
}

.appointment-pill {
  text-align: center;
  font-size: 8px;
  background-color: #f4433659;
  border-radius: 20px;
  /* margin: 1px;
  padding: 3px; */
  padding: 3px 0px;
  margin: 0px;
}

.appointment-pill:hover, .day-box:hover {
  cursor: pointer;
}

.day-num {
  width: fit-content;
  padding: 2px;
  border-radius: 50px;
}

.day-num p {
  margin: 5px;
}

.day-content-wrapper {
  margin: 5px;
}

.currentDay {
  background-color: #fcb3b3;;
}

